## Defaults
__pycache__
.idea
.DS_Store
.deps
.docs
.env
node_modules
tenderly.yaml
venv

# Build output
/cache-hh
build
export
**/artifacts
.openzeppelin
solidity-flattenedContracts
typechain
slither-audit.txt
slither
slither.db.json

# Test output
coverage
coverage.json
lcov.info

# Running output
gas-report.txt
gasReporterOutput.json
addresses.json
blockchain_db
ganache*
yarn-error.log
broadcast

# deployments
deployments/localhost
deployments/mainnetForkRemote

# bin
bin


# foundry
/out
/cache-forge
